<div class="container">
    <div class="d-flex my-3">
        <div class="flex-grow-1" style="margin-right: 20px;">
            <input type="text" class="form-control" [(ngModel)]="requestBody.title" (input)="getProducts()" placeholder="Start typing to search..." />    
        </div>
        
        <button mat-raised-button color="primary" [routerLink]="[ '/products/create/' ]">
            <mat-icon>add</mat-icon> Create New Product
        </button>
    </div>
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let product of products">
            <app-product-item [product]="product"></app-product-item>
        </div>
    </div>
</div>
