<div class="container">
    <div class="d-flex my-3">
        <div class="flex-grow-1">
            <input type="text" placeholder="Category Title" [(ngModel)]="createCategoryTitle" class="form-control" />
        </div>
        <div class="mx-2"></div>
        <button mat-raised-button color="primary" (click)="create()">Create</button>
    </div>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th width="10%">#</th>
                <th width="50%">Title</th>
                <th width="20%">Is Active</th>
                <th width="20%">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="categories.length == 0">
                <td colspan="4">
                    There are not any category added
                </td>
            </tr>
            <tr *ngFor="let category of categories; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <span *ngIf="editIndex != i" [ngClass]="{ 'text-muted': category.isActive == false }">{{ category.title }}</span>
                    <input *ngIf="editIndex == i" type="text" class="form-control" [(ngModel)]="editCategory.title" />
                </td>
                <td>
                    <mat-slide-toggle
                        color="primary"
                        [checked]="category.isActive"
                        [disabled]="editIndex == i"
                        (change)="toggleActive(category.id)">
                    </mat-slide-toggle>
                </td>
                <td>
                    <button *ngIf="editIndex == i" mat-raised-button color="primary" (click)="edit()">Edit</button>
                    <button *ngIf="editIndex == i" mat-raised-button style="margin-left: 12px;" (click)="cancelEditMode()">Cancel</button>
                    <button *ngIf="editIndex != i" [disabled]="category.isActive == false" mat-raised-button color="primary" (click)="setEditMode(i, category)">Edit</button>
                    <button *ngIf="editIndex != i" [disabled]="category.isActive == false" mat-raised-button color="warn" style="margin-left: 12px;" (click)="delete(category.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
