<div class="container mt-4">
    <kendo-grid
        [data]="gridItems | async"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]="pageOptions"
        [sortable]="true"
        [sort]="sortDescriptor"
        [filterable]="true"
        [filter]="filter"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)">

        <ng-container *ngFor="let column of columns">
            <kendo-grid-column
                [field]="column.field"
                [title]="column.displayName"
                [hidden]="column.isHidden"
                [filterable]="column.searchable"
                [sortable]="column.orderable">
                <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.searchable">
                    <ng-container *ngIf="column.type == 1 || column.type == 2">
                        <app-kendo-text-filter
                            [column]="column"
                            title="Title"
                            (onFilterChange)="onFilterChange($event)">
                        </app-kendo-text-filter>
                    </ng-container>
                    <ng-container *ngIf="column.type == 3">
                        <app-kendo-dropdown-filter
                            [column]="column"
                            [dataPromise]="column.dropdownAdditionalInfo.dataPromise()"
                            [textField]="column.dropdownAdditionalInfo.displayField"
                            [valueField]="column.dropdownAdditionalInfo.idField"
                            [title]="column.displayName"
                            (onFilterChange)="onFilterChange($event)">
                        </app-kendo-dropdown-filter>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>
        </ng-container>
    </kendo-grid>
</div>