<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Form</th>
                <th>Submitted Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of formsDetail; let i = index">
                <td>
                    {{ i + 1 }}
                </td>
                <td>{{ item.title }}</td>
                <td>
                    <span *ngIf="item.submittedAt">
                        {{ item.submittedAt | date : appConsts.dateFormat }}
                    </span>
                    <span *ngIf="!item.submittedAt">-</span>
                </td>
                <td>
                    <button *ngIf="item.formAnswerId" mat-raised-button color="primary" class="mr-2" [routerLink]="[ '/events/forms/', item.formDesignId, eventId, item.formAnswerId ]">Edit</button>
                    <button *ngIf="item.formAnswerId" mat-raised-button color="primary" class="mr-2" [routerLink]="[ '/events/forms/view', item.formAnswerId ]">View</button>
                    <button *ngIf="!item.formAnswerId" mat-raised-button color="primary" [routerLink]="[ '/events/forms/', item.formDesignId, 0, 0 ]">Fill</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>