<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Product Manager</h1>
        <div style="margin-left: 70px;">
            <ng-container *ngIf="isLoggedIn">
                <a mat-button [routerLink]="'/products'" routerLinkActive="active"> Products </a>
                <a mat-button [routerLink]="'/categories'" routerLinkActive="active"> Categories </a>
                <a mat-button [matMenuTriggerFor]="addMenu"> Add </a>
                <a mat-button [matMenuTriggerFor]="registersMenu"> Registers </a>
                <a mat-button [routerLink]="'/modules'" routerLinkActive="active"> Modules </a>
            </ng-container>
            <a mat-button [routerLink]="'/static-data'" routerLinkActive="active"> Static Data CRUD </a>
        </div>
        <div style="margin-left: auto; margin-right: 12px;">
            <a mat-button (click)="logout()" *ngIf="isLoggedIn"> Log Out</a>
            <a mat-button [routerLink]="'/account/login'" routerLinkActive="active" *ngIf="!isLoggedIn"> Login </a>
        </div>

        <!-- Add Menu -->
        <mat-menu #addMenu="matMenu">
            <button mat-menu-item *ngFor="let module of modules" [routerLink]="[ '/events/forms/', module.formDesignId, 0, 0 ]">
                <i class="{{ module.icon }} mr-2"></i> {{ module.addTitle }}
            </button>
            <button mat-menu-item *ngIf="modules.length == 0" [routerLink]="[ '/modules/' ]">
                <i class="fa fa-plus mr-2"></i> Create New Module
            </button>
        </mat-menu>

        <!-- Registers Menu -->
        <mat-menu #registersMenu="matMenu">
            <button mat-menu-item *ngFor="let module of modules" [routerLink]="[ '/events/registers/', module.moduleId ]">
                <i class="{{ module.icon }} mr-2"></i> {{ module.registersTitle }}
            </button>
            <button mat-menu-item *ngIf="modules.length == 0" [routerLink]="[ '/modules/' ]">
                <i class="fa fa-plus mr-2"></i> Create New Module
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>