.k-textbox {
    width: 100% !important;
    border-color: #cecece;
}

.k-dropdown-wrap {
    border-color: #cecece;
}

.k-grid {
    border-color: #cecece;

    .k-grid-content td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}