<div [ngClass]="{ 'has-error' : sharedData.CheckHasError(element) }">
    <label class="control-label" [ngClass]="{ 'required' : element.isRequired}">{{ element.label }}</label>

    <ng-container *ngIf="element.type == elementType.Text">
        <input type="text" class="form-control" [(ngModel)]="sharedData.answer[element.bind]" [name]="element.bind" 
            [LimitTextTo]="element['maxLength']" [minLength]="element['minLength']" (input)="sharedData.ValidateTextElement(element)" (focusout)="sharedData.ValidateTextElement(element)" />
    </ng-container>

    <ng-container *ngIf="element.type == elementType.Numeric">
        <input type="number" class="form-control" [(ngModel)]="sharedData.answer[element.bind]" [name]="element.bind"
            (input)="sharedData.ValidateNumericElement(element)" (focusout)="sharedData.ValidateNumericElement(element)" />
    </ng-container>
</div>