<div class="text-center text-muted my-2" *ngIf="!sharedData.selectedElement">
    Select an element to begin
</div>
<ng-container *ngIf="sharedData.selectedElement">
    <div class="mt-2 mb-3">
        <b>Properties</b> of {{ sharedData.selectedElement.label }} ({{ elementType[sharedData.selectedElement.type] }})
    </div>
    <div class="form-field-set">
        <label>Form Label</label>
        <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement.label" />
    </div>
    <div class="form-field-set">
        <label>Is Required</label>
        <mat-checkbox color="primary" [(ngModel)]="sharedData.selectedElement.isRequired"></mat-checkbox>
    </div>

    <ng-container *ngIf="sharedData.selectedElement.type == elementType.Text">
        <div class="form-field-set">
            <label>Placeholder</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['placeholder']" />
        </div>
        <div class="form-field-set">
            <label>Min Length</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['minLength']" />
        </div>
        <div class="form-field-set">
            <label>Max Length</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['maxLength']" />
        </div>
    </ng-container>

    <ng-container *ngIf="sharedData.selectedElement.type == elementType.Numeric">
        <div class="form-field-set">
            <label>Min Value</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['minValue']" />
        </div>
        <div class="form-field-set">
            <label>Max Value</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['maxValue']" />
        </div>
    </ng-container>

    <ng-container *ngIf="sharedData.selectedElement.type == elementType.Dropdown">
        <div class="mb-2">
            <label>Options</label>
            <table class="w-100">
                <tr>
                    <td width="50%">Text</td>
                    <td width="40%">Value</td>
                    <td width="10%"></td>
                </tr>
                <tr *ngFor="let option of sharedData.selectedElement['options']">
                    <td class="pr-2">
                        <input type="text" [(ngModel)]="option.value" class="form-control" style="padding: .12rem .5rem;" />
                    </td>
                    <td class="px-2">
                        <input type="text" [(ngModel)]="option.id" class="form-control" style="padding: .12rem .5rem;" />
                    </td>
                    <td class="pl-2">
                        <button class="custom-button red" (click)="removeDropdownOption(option)">
                            <i class="fa fa-trash mr-0"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="pr-2">
                        <input type="text" [(ngModel)]="newDropdownOption.value" class="form-control" style="padding: .12rem .5rem;" />
                    </td>
                    <td class="px-2">
                        <input type="text" [(ngModel)]="newDropdownOption.id" class="form-control" style="padding: .12rem .5rem;" />
                    </td>
                    <td class="pl-2">
                        <button class="custom-button green" (click)="addNewDropdownOption()">
                            <i class="fa fa-save mr-0"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </ng-container>

    <div class="form-field-set">
        <label for="reservedField">Reserved Field</label>
        <kendo-dropdownlist
            name="reservedField"
            id="reservedField"
            textField="displayName"
            valueField="bind"
            [defaultItem]="reservedFieldService.defaultReservedField"
            [data]="getReservedFieldByType()"
            (selectionChange)="onReservedFieldChange($event)">
        </kendo-dropdownlist>
    </div>

    <div class="form-field-set">
        <label class="required">Bind</label>
        <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement.bind" [disabled]="!!sharedData.selectedElement.reservedField" />
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="saveElementProperty()">Save</button>
        <span class="mx-1"></span>
        <button mat-raised-button (click)="sharedData.selectedElement = null">Cancel</button>
    </div>
</ng-container>