<div class="text-center text-muted my-2" *ngIf="!sharedData.selectedElement">
    Select an element to begin
</div>
<ng-container *ngIf="sharedData.selectedElement">
    <div class="mt-2 mb-3">
        <b>Properties</b> of {{ sharedData.selectedElement.label }} ({{ elementType[sharedData.selectedElement.type] }})
    </div>
    <div class="form-field-set">
        <label>Form Label</label>
        <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement.label" />
    </div>
    <div class="form-field-set">
        <label>Is Required</label>
        <mat-checkbox color="primary" [(ngModel)]="sharedData.selectedElement.isRequired"></mat-checkbox>
    </div>

    <ng-container *ngIf="sharedData.selectedElement.type == elementType.Text">
        <div class="form-field-set">
            <label>Placeholder</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['placeholder']" />
        </div>
        <div class="form-field-set">
            <label>Min Length</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['minLength']" />
        </div>
        <div class="form-field-set">
            <label>Max Length</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['maxLength']" />
        </div>
    </ng-container>

    <ng-container *ngIf="sharedData.selectedElement.type == elementType.Numeric">
        <div class="form-field-set">
            <label>Min Value</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['minValue']" />
        </div>
        <div class="form-field-set">
            <label>Max Value</label>
            <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement['maxValue']" />
        </div>
    </ng-container>

    <div class="form-field-set">
        <label for="reservedField">Reserved Field</label>
        <kendo-dropdownlist
            name="reservedField"
            id="reservedField"
            textField="displayName"
            valueField="bind"
            [defaultItem]="reservedFieldService.defaultReservedField"
            [data]="getReservedFieldByType()"
            (selectionChange)="onReservedFieldChange($event)">
        </kendo-dropdownlist>
    </div>

    <div class="form-field-set">
        <label class="required">Bind</label>
        <input type="text" class="form-control" [(ngModel)]="sharedData.selectedElement.bind" [disabled]="!!sharedData.selectedElement.reservedField" />
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="saveElementProperty()">Save</button>
        <span class="mx-1"></span>
        <button mat-raised-button (click)="sharedData.selectedElement = null">Cancel</button>
    </div>
</ng-container>